node_modules
packages/protocol/node_modules
packages/server/node_modules
packages/client/node_modules

packages/protocol/dist
packages/server/dist
packages/client/dist

newrelic_agent.log
lint.log

.env
